/******* footer desktop **********/
footer {
  display: flex;
  gap: 700px;
  justify-content: center;
  align-items: center;
}
footer img {
  grid-column: 2/3;
}
.logo_footer {
  display: flex;
}
.footer_tekst {
  grid-column: 1/2;
  display: flex;
  gap: 20px;
}
.footer_tekst a {
  text-decoration: none;
  font-size: 1000px;
}
@media screen and (max-width: 800px) {
  .footer_tekst {
    display: none;
  }
}
