/***************** mobil **********************/
@media screen and (max-width: 800px) {
  /******* grid mobil **********/
  .overskrift {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  .indhold {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4fr;
  }
}

/***************** desktop **********************/
@media (min-width: 800px) {
}
